/*---------------------------------- title text ----------------------------------*/

.titletxt {
  color: #fff6e8;
  z-index: 31;
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
  white-space: nowrap;
  filter: drop-shadow(4px 3px 0px rgba(28, 2, 33, 0.4));
}

.subtitletxt {
  color: #fff6e8;
  z-index: 31;
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  filter: drop-shadow(4px 3px 0px rgba(28, 2, 33, 0.4));
}
.titlebodytxt {
  font-family: "Nunito", "Varela Round", "Quicksand", "arial";
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 24px;
}

.bodytxt {
  font-family: "Nunito", "Varela Round", "Quicksand", "arial";
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
}

.hide {
  display: none;
}
